:root {
	--colorMain: #505fb4;
	--colorBg: #f3f3f6;

	--colorWhite: white;
	--colorGray: #848793;
	--colorYellow: #fff055;
	--colorLightGray: #cccdd4;

	text-align: center;
}

html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	background-color: var(--colorBg);
}
